@import '~shards-ui/src/scss/shards';
@import '~bootstrap/scss/bootstrap';

// Variables
$white: #fff;
$dark-grey: #333;
$blue: #337cf6;
$dark: #1D1D1D;
$font-family-sans-serif: (
  -apple-system, // Mac, iOS の英数字（ヒラギノのアルファベット汚い）
  BlinkMacSystemFont, // Mac, iOS で Chrome, Opera の英数字
  "Original Yu Gothic", // Windows10 の日本語
  "游ゴシック",
  "Yu Gothic", // Windows10 で Edge のときの日本語
  YuGothic,
  "Hiragino Sans", // Mac (El Capitan 以上) の日本語
  "Hiragino Kaku Gothic ProN", // Mac (El Capitan 未満) の日本語
  Meiryo, // Windows7, 8 の日本語
  sans-serif // フォールバック
);
$font-family-alphabet: vdl-logog, $font-family-sans-serif;

// General
html, body {
  height: 100%;
}

body {
  font-size: 14px;
  background-color: #2E2E2E;
  color: $white;
  font-family: $font-family-sans-serif;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

footer {
  height: 215px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@mixin no-text-decoration {
  text-decoration: none;

  @include hover-focus-active {
    text-decoration: none;
  }
}

@mixin absolute-color($color) {
  color: $color;

  @include hover-focus-active {
    color: $color;
  }
}

@mixin list-unstyled {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.l-header {
  padding: 20px 0;

  &__inner {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__logo {
    font-size: 20px;
    font-family: $font-family-alphabet;
  }

  &__telegram {
    font-family: $font-family-alphabet;
    position: absolute;
    right: 0;
    display: none;
    font-size: 16px;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}


.l-footer {
  padding-bottom: 50px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 100px;
  }
}

.c-link {
  @include no-text-decoration;
  @include absolute-color($white);
  transition: opacity .3s ease;

  @include hover-focus-active {
    opacity: .7;
  }
}

.p-detail {
  margin: auto;
  padding-top: 1.5rem;
  max-width: 770px;

  @include media-breakpoint-up(lg) {
    padding-top: 50px;
  }

  &__item {
    margin-bottom: 50px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 85px;
    }
  }

  &__btn {
    margin-bottom: 1rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }
  }

  &__description {
    margin-bottom: 1rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }
  }

  &__back2home {
    @include no-text-decoration;

    display: flex;
    align-items: center;
    width: 70px;

    i {
      transition: transform .3s ease;
    }

    &__text {
      font-size: 1rem;

      @include media-breakpoint-up(lg) {
        font-size: 20px;
      }
    }

    @include hover-focus-active {
      i {
        transform: translateX(-10px);
      }
    }
  }
}


input:read-only {
  background-color: #BFBFBF;
  border-color: #BFBFBF
}

.l-top {
  font-size: 20px;
  font-weight: bold;
}

.telegram {
  position: absolute;
  right: 0;
}

.p-ex-title {
  font-family: $font-family-alphabet;
  font-size: 20px;
  border-bottom: solid 1px #707070;
  padding-bottom: 18px;
  position: relative;
}

.account {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: normal;
  right: 0;
  bottom: 5px;
}

.u-bg {
  background-color: $dark;
}

.contents {
  // text-align: center;
  margin-top: 24px;
  padding: 12px;
}

.content {
  display: inline-block;
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 80%;
  }
}

.content-title {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #707070;
  text-align: left;
}

.table {
  margin-bottom: auto;
}

.table thead th {
  border-bottom: 1px solid $white;
}

.table td, .table th {
  border-style: none;
}

.u-btn {
  background-color: $dark;
  color: $white;
  cursor: pointer;
}

.u-input {
  width: 120px;
}

.u-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: auto;
  width: 228px;
  font-weight: normal;
  font-size: inherit;
}

.u-nav-tabs {
  border-bottom: none;
  font-family: inherit;
}

.u-nav-item {
  padding: 0.5rem 1rem 0.5rem 0;
}

.u-nav-tabs .nav-link {
  padding: 0;
  color: $white;
  border: none;
  cursor: pointer;
}

.u-nav-tabs .nav-link.active {
  color: $white;
  background-color: $dark;
  border-color: $dark $dark $white;
  border-bottom: solid 3px $white;
}

.p-trade {
  background-color: $dark;
  border: solid 1px $white;
  color: $white;
  font-size: 15px;
  font-weight: inherit;
  padding: 2px 44px;
  margin: 12px auto;
  cursor: pointer;
}

// Page loader
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  z-index: 1500;
  transition: opacity 500ms ease-in-out;
  opacity: 1.0;
}

.loader-init {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  z-index: 1500;
  transition: opacity 500ms ease-in-out;
  opacity: 1.0;
}

.page-loader {
  width: 40px;
  height: 40px;
  margin: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -20px;
  margin-left: -20px;
  background-color: $dark-grey;
  background: theme-color("primary");
  border-radius: 100%;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-animation: pulse-load 1200ms infinite ease-in-out;
  animation: pulse-load 1200ms infinite ease-in-out;
}

@-webkit-keyframes pulse-load {
  0% {
    -webkit-transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes pulse-load {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.page-loader-message {
  text-align: center;
  color: #000;
  top: 60%;
  left: 35%;
  position: absolute;
}

// Non-blocking spinner
.spinner,
.spinner:after {
  border-radius: 50%;
  width: 2.7em;
  height: 2.7em;
}
.spinner {
  display: none;
  font-size: 10px;
  position: absolute;
  right: 1rem;
  top: 1px;
  text-indent: -9999em;
  border-top: .3em solid rgba(255, 255, 255, 0.4);
  border-right: .3em solid rgba(255, 255, 255, 0.4);
  border-bottom: .3em solid rgba(255, 255, 255, 0.4);
  border-left: .3em solid $blue;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 .8s infinite linear;
  animation: load8 .8s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Card
.main-card {
  height: 36rem;
  overflow-y: hidden;

  .account {
    right: 1rem;
  }

  .table-fixed {
    width: unset;

    thead, tbody {
      display: block;
    }

    tbody {
      height: 18.3rem;
      overflow-y: auto;
    }

    th, td {
      vertical-align: middle;
      padding: .9rem 1.2rem;

      .custom-toggle {
        margin-left: 1.2rem;
      }
    }
  }

  .custom-select {
    background: $white;
  }
}
